In [1]:
# Import relevant packages
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\robur\\Documents\\Thesis\\code\\lcfMapping\\markov'

In [3]:
# Read in IIASA Change data 
# Required to train transition probability matrix
#test = gpd.read_file("../data/processed/IIASAchangeHarmonics.gpkg")
#df = pd.DataFrame(test.drop(columns='geometry'))
#df

df = pd.read_csv("../../data/processed/IIASAchangeMerged.csv")
df2015 = df.loc[df['reference_year'] == 2015]
df2016 = df.loc[df['reference_year'] == 2016]
df2017 = df.loc[df['reference_year'] == 2017]
df2018 = df.loc[df['reference_year'] == 2018]

#print(df2015.columns)

print(len(df2015))
print(len(df2016))
print(len(df2017))
print(len(df2018), "\n")
#df2015

33574
33606
33622
33609

In [4]:
print(len(df2015))
print(len(df2016))
print(len(df2017))
print(len(df2018), "\n")

#df2015.loc[df2015['location_id'].isin(df2016[['location_id']])]
#df2015[["sample_id"]].isin(df2016[['sample_id']]).sum()
temp = df2015.loc[df2015["location_id"].isin(df2016["location_id"])]
print(len(temp), "\n")
#print(temp)
temp = temp.loc[temp["location_id"].isin(df2017["location_id"])]
temp = temp.loc[temp["location_id"].isin(df2018["location_id"])]
temp = temp.loc[temp["location_id"].isin(df2016["location_id"])]

df2015 = df2015.loc[df2015["location_id"].isin(temp["location_id"])]
df2016 = df2016.loc[df2016["location_id"].isin(temp["location_id"])]
df2017 = df2017.loc[df2017["location_id"].isin(temp["location_id"])]
df2018 = df2018.loc[df2018["location_id"].isin(temp["location_id"])]

print(len(df2015))
print(len(df2016))
print(len(df2017))
print(len(df2018), "\n")

# Keep classes fractions columns 
classes = list(pd.read_csv("../../data/output/wurChange/predictions-2015-ndvi-median.csv").columns)

df2015 = df2015[df2015.columns.intersection(classes)]
df2016 = df2016[df2015.columns.intersection(classes)]
df2017 = df2017[df2015.columns.intersection(classes)]
df2018 = df2018[df2015.columns.intersection(classes)]

#print(df2015[["sample_id"]][1:10])
#print(df2016[["sample_id"]][1:10])
df2015

33574
33606
33622
33609

33564

33531
33531
33531
33531

        bare  crops  grassland  shrub   tree  urban_built_up  water
0        0.0    0.0        9.0   50.0   41.0             0.0    0.0
4       27.0   63.0        4.0    0.0    0.0             6.0    0.0
8        0.0    0.0        0.0    0.0  100.0             0.0    0.0
12       1.0    0.0       93.0    0.0    6.0             0.0    0.0
16       0.0    0.0       41.0    0.0   59.0             0.0    0.0
...      ...    ...        ...    ...    ...             ...    ...
134391   2.0   98.0        0.0    0.0    0.0             0.0    0.0
134395   0.0    0.0       15.0    0.0   85.0             0.0    0.0
134399   2.0    0.0       33.0    0.0   65.0             0.0    0.0
134403   0.0    0.0       75.0    0.0   25.0             0.0    0.0
134407   0.0    0.0       73.0    5.0   22.0             0.0    0.0

[33531 rows x 7 columns]

In [6]:
majority2015 = df2015.idxmax(axis=1)
majority2016 = df2016.idxmax(axis=1)
majority2017 = df2017.idxmax(axis=1)
majority2018 = df2018.idxmax(axis=1)

i=int(590/4)
print(majority2015.iloc[i])
print(majority2016.iloc[i])
print(majority2017.iloc[i])
print(majority2018.iloc[i],"\n")


print(df2015.iloc[i])
print(df2016.iloc[i])
print(df2017.iloc[i])
print(df2018.iloc[i])

shrub
shrub
bare
bare

bare               0.0
crops              0.0
grassland         45.0
shrub             55.0
tree               0.0
urban_built_up     0.0
water              0.0
Name: 588, dtype: float64
bare               0.0
crops              0.0
grassland         45.0
shrub             55.0
tree               0.0
urban_built_up     0.0
water              0.0
Name: 589, dtype: float64
bare              100.0
crops               0.0
grassland           0.0
shrub               0.0
tree                0.0
urban_built_up      0.0
water               0.0
Name: 590, dtype: float64
bare              100.0
crops               0.0
grassland           0.0
shrub               0.0
tree                0.0
urban_built_up      0.0
water               0.0
Name: 591, dtype: float64

In [7]:
majority2015

0             shrub
4             crops
8              tree
12        grassland
16             tree
            ...
134391        crops
134395         tree
134399         tree
134403    grassland
134407    grassland
Length: 33531, dtype: object